
multiscale_methods_lessons/10Lect.mp4
multiscale_methods_lessons/11Lect.mp4
multiscale_methods_lessons/3Lect.mp4
multiscale_methods_lessons/6Lect.mp4
multiscale_methods_lessons/7Lect.mp4
multiscale_methods_lessons/8ALect.mp4
multiscale_methods_lessons/8BLect.mp4
multiscale_methods_lessons/9Lect.mp4
multiscale_methods_lessons/Lecture10_Video.mp4
multiscale_methods_lessons/Lecture14_Video.mp4
multiscale_methods_lessons/Lecture16_Video.mp4
multiscale_methods_lessons/Lecture4_Video.mp4
multiscale_methods_lessons/lecture_4.mp4
multiscale_methods_lessons/lecture_5.mp4
